<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header>
            <!-- menu -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">KeepTrack</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/">Início</a>
                            <a class="nav-link" href="/login">Login</a>
                            <a class="nav-link" href="#">Perfil</a>
                            <a class="nav-link" href="/bill">Contas</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div>
            <!-- Conteudo -->
            @RenderBody()
        </div>
        <footer>
            <!-- Rodapé -->
            <div class="row">
                <div class="col-sm-12">
                    Todos os direitos reservados &copy; 2020 - @DateTime.Now.Year
                </div>
            </div>
        </footer>

    </div>
</body>
</html>